<h2>FAQ</h2>

<!-- PRISMIC PREVIEW TEST -->
<% @faq.each do |doc| %>
  <% doc["faq.qa"].group_documents.each do |segment| %>
    <%= segment.fragments["question"].value %>
    <%= segment.fragments["answer"].value %>
  <% end %>
<% end %>
<!-- PRISMIC PREVIEW TEST END  -->