<div>
  <h1><%= make_a_link("http://fove-inc.com", "FOVe") %></h1>

  <!-- PRISMIC PREVIEW TEST -->
 <h2><%= @main_article_title %></h2>
 <h1><%= @main_article_description %></h1>
  <!-- PRISMIC PREVIEW TEST END  -->
</div>