<div>
  <!-- PRISMIC PREVIEW TEST -->
 <h2><%= @main_article_title %></h2>
 <h1><%= @main_article_description %></h1>
 <img src="<%= @main_article_image_url %>">
  <!-- PRISMIC PREVIEW TEST END  -->
</div>